In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import header
paths = header.setup_environment()
paths['daily']=os.path.join(paths['WELLDATA_TOP'], '05_DAILY_RC') # raw and corrected, and done so using appropriate well barometer
if not os.path.isdir(paths['daily']):
    os.makedirs(paths['daily'])
import platform
if platform.system()=='Darwin':
    INPUTDIR = '/Users/thompsong/Dropbox/PROFESSIONAL/RESEARCH/3_Project_Documents/NASAprojects/201602_Rocket_Seismology/DATA/2022_DATA/WellData/MERGED'
else:
    INPUTDIR = os.path.join(paths['new_data'], '03_merge_inventories')
import libWellData as LLE
transducersDF = LLE.get_transducers_dataframe(paths)
display(transducersDF)

# Load in the summary of all files - raw 4 hourly data 
dfall2 = pd.read_csv(os.path.join(INPUTDIR, 'all2.csv'))
#display(dfall2['subdir'])

LLE.qc_dataframe(dfall2)

# Split in baro, 20Hz, 100Hz
all_dataframes = LLE.split_by_subdir(dfall2, verbose=True)
#print(all_dataframes)

Linux

,serial,Fs,sensor,shielding,range_kPa_low,range_kPa_high,media,type,model,set_depth_ft,id,well,tmean,dig0,gf,tt,tt0,tf,bp,bp0
0,AirPressureShallow,100,barometer,none,100,100,air,pressure,Keller 0507.01401.051311.07,3.81,6S.02374.88.HDH,shallow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1226420,100,vibrating_wire,none,70,170,air,level,Geokon 4500AL,4.46,6S.12264.20.HDD,shallow,30.68,9751.0,-0.006458,21.6,21.3,-0.008795,14.504,14.298
2,1226423,20,vibrating_wire,foam,70,170,water,level,Geokon 4500AL,-5.83,6S.12264.23.BDD,shallow,28.40,9605.0,-0.006347,21.6,22.2,-0.004197,14.504,14.298
3,1226419,100,vibrating_wire,foam,70,170,water,level,Geokon 4500AL,-6.71,6S.12264.19.HDD,shallow,27.57,10040.0,-0.006441,21.6,21.1,-0.010870,14.504,14.298
4,1226421,100,vibrating_wire,none,70,170,water,level,Geokon 4500AL,-7.71,6S.12264.21.HDD,shallow,27.60,9787.0,-0.006724,21.6,21.3,-0.001145,14.504,14.298
5,AirPressureIntermediate,100,barometer,none,100,100,air,pressure,Keller 0507.01401.051311.07,3.86,6I.0XXXX.XX.HDH,intermediate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1226429,100,vibrating_wire,none,70,170,air,level,Geokon 4500AL,4.11,6I.12264.29.HDD,intermediate,30.60,9800.0,-0.006428,22.6,21.6,-0.002384,14.367,14.298
7,2151692,20,vibrating_wire,foam,70,170,water,level,Geokon 4500AL,-9.14,6I.21516.92.BDD,intermediate,25.88,9459.0,-0.008038,22.8,21.8,0.007666,14.296,14.388
8,2151691,100,vibrating_wire,foam,70,170,water,level,Geokon 4500AL,-18.31,6I.21516.91.HDD,intermediate,25.70,9414.0,-0.008142,22.8,21.5,0.008742,14.296,14.388
9,2149882,100,vibrating_wire,none,70,170,water,level,Geokon 4500AL,-19.14,6I.21498.82.HDD,intermediate,25.96,9734.0,-0.008075,20.7,21.3,0.000675,14.602,14.389

Baro
**********
Displaying  Baro

,1226421,1226419,1226420,2149882,2151691,1226429,uploaddate,subdir,basename,1226419_temp,...,1226420_std,2151691_std,2149882_std,1226429_std,DynStdDev(6),1226423,2151692,AirPressureShallow,AirPressureDeep,datetime
3,NaN,NaN,NaN,NaN,NaN,NaN,20220826,Baro,100hz_Baro_Sensors_20220721135421_000.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.773304,14.766960,2022-07-21 13:54:21.790
4,NaN,NaN,NaN,NaN,NaN,NaN,20220826,Baro,100hz_Baro_Sensors_20220721160000_001.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.754274,14.752241,2022-07-21 16:00:00.010
10,NaN,NaN,NaN,NaN,NaN,NaN,20220826,Baro,100hz_Baro_Sensors_20220721200000_002.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.754250,14.748769,2022-07-21 20:00:00.010
15,NaN,NaN,NaN,NaN,NaN,NaN,20220826,Baro,100hz_Baro_Sensors_20220722000000_003.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.759185,14.758797,2022-07-22 00:00:00.010
19,NaN,NaN,NaN,NaN,NaN,NaN,20220826,Baro,100hz_Baro_Sensors_20220722040000_004.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.765824,14.759901,2022-07-22 04:00:00.010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258,NaN,NaN,NaN,NaN,NaN,NaN,20221202,Baro,100hz_Baro_Sensors_20221201120000_119.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.877370,14.876700,2022-12-01 12:00:00.010
2262,NaN,NaN,NaN,NaN,NaN,NaN,20221202,Baro,100hz_Baro_Sensors_20221201160000_120.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.859900,14.857960,2022-12-01 16:00:00.010
2265,NaN,NaN,NaN,NaN,NaN,NaN,20221202,Baro,100hz_Baro_Sensors_20221201200000_121.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.880270,14.873140,2022-12-01 20:00:00.010
2268,NaN,NaN,NaN,NaN,NaN,NaN,20221202,Baro,100hz_Baro_Sensors_20221202000000_122.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.886800,14.880480,2022-12-02 00:00:00.010
2270,NaN,NaN,NaN,NaN,NaN,NaN,20221202,Baro,100hz_Baro_Sensors_20221202082411_123.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.887970,14.885240,2022-12-02 08:24:11.330

20hz
**********
Displaying  20hz

,1226421,1226419,1226420,2149882,2151691,1226429,uploaddate,subdir,basename,1226419_temp,...,1226420_std,2151691_std,2149882_std,1226429_std,DynStdDev(6),1226423,2151692,AirPressureShallow,AirPressureDeep,datetime
1,NaN,NaN,NaN,NaN,NaN,NaN,20220826,20hz,20hz_Sensors_20Hz_20220721134750_000.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,22819.189453,15339.369141,NaN,NaN,2022-07-21 13:47:50.000
2,NaN,NaN,NaN,NaN,NaN,NaN,20220826,20hz,20hz_Sensors_1Sec_20220721134750_000.csv,27.963470,...,0.027189,NaN,NaN,NaN,NaN,9078.993164,8428.339844,NaN,NaN,2022-07-21 13:47:50.000
6,NaN,NaN,NaN,NaN,NaN,NaN,20220826,20hz,20hz_Sensors_20Hz_20220721160000_001.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,9082.031250,8430.769531,NaN,NaN,2022-07-21 16:00:00.050
8,NaN,NaN,NaN,NaN,NaN,NaN,20220826,20hz,20hz_Sensors_1Sec_20220721160001_001.csv,27.960571,...,0.028026,NaN,NaN,NaN,NaN,9082.081055,8430.733398,NaN,NaN,2022-07-21 16:00:01.000
11,NaN,NaN,NaN,NaN,NaN,NaN,20220826,20hz,20hz_Sensors_20Hz_20220721200000_002.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,9081.624023,8430.257812,NaN,NaN,2022-07-21 20:00:00.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260,NaN,NaN,NaN,NaN,NaN,NaN,20221202,20hz,20hz_Sensors_20Hz_20221201120000_119.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,9055.340820,8414.737305,NaN,NaN,2022-12-01 12:00:00.050
2263,NaN,NaN,NaN,NaN,NaN,NaN,20221202,20hz,20hz_Sensors_20Hz_20221201160000_120.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,9060.303711,8418.320312,NaN,NaN,2022-12-01 16:00:00.050
2266,NaN,NaN,NaN,NaN,NaN,NaN,20221202,20hz,20hz_Sensors_20Hz_20221201200000_121.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,9056.477539,8415.290039,NaN,NaN,2022-12-01 20:00:00.050
2269,NaN,NaN,NaN,NaN,NaN,NaN,20221202,20hz,20hz_Sensors_20Hz_20221202000000_122.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,9055.333984,8414.057617,NaN,NaN,2022-12-02 00:00:00.050
2272,NaN,NaN,NaN,NaN,NaN,NaN,20221202,20hz,20hz_Sensors_20Hz_20221202082414_123.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,1012.704407,8409.026367,NaN,NaN,2022-12-02 08:24:14.000

100hz
**********
Displaying  100hz

,1226421,1226419,1226420,2149882,2151691,1226429,uploaddate,subdir,basename,1226419_temp,...,1226420_std,2151691_std,2149882_std,1226429_std,DynStdDev(6),1226423,2151692,AirPressureShallow,AirPressureDeep,datetime
0,NaN,NaN,NaN,NaN,NaN,NaN,20220826,100hz,100hz_Sensors_1Sec_20220721133627_000.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-21 13:36:27.000
5,9167.110352,9489.996094,9703.252930,8627.779297,8358.027344,9770.319336,20220826,100hz,100hz_Sensors_100Hz_20220721160000_001.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-21 16:00:00.010
7,9167.369141,9489.804688,9702.906250,8627.558594,8358.027344,9770.466797,20220826,100hz,100hz_Sensors_1Sec_20220721160001_001.csv,27.561035,...,0.207875,0.274275,0.250625,0.196379,0.277220,NaN,NaN,NaN,NaN,2022-07-21 16:00:01.000
9,9167.326172,9489.264648,9703.137695,8626.943359,8357.288086,9770.840820,20220826,100hz,100hz_Sensors_100Hz_20220721200000_002.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-21 20:00:00.010
12,9166.939453,9489.232422,9703.239258,8627.102539,8357.619141,9770.675781,20220826,100hz,100hz_Sensors_1Sec_20220721200001_002.csv,27.521179,...,0.188281,0.233037,0.248869,0.196529,0.283193,NaN,NaN,NaN,NaN,2022-07-21 20:00:01.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259,9143.607000,9463.829000,9707.100000,8611.594000,8341.694000,9767.984000,20221202,100hz,100hz_Sensors_100Hz_20221201120000_119.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-01 12:00:00.010
2261,9148.351000,9468.346000,9707.489000,8614.964000,8345.216000,9769.956000,20221202,100hz,100hz_Sensors_100Hz_20221201160000_120.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-01 16:00:00.010
2264,9144.639000,9464.844000,9706.258000,8612.217000,8341.727000,9767.146000,20221202,100hz,100hz_Sensors_100Hz_20221201200000_121.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-01 20:00:00.010
2267,9143.237000,9463.555000,9705.298000,8611.196000,8340.690000,9767.320000,20221202,100hz,100hz_Sensors_100Hz_20221202000000_122.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-02 00:00:00.010
2271,9121.186000,2331.669000,9697.354000,514.938600,8337.354000,9697.727000,20221202,100hz,100hz_Sensors_100Hz_20221202082414_123.csv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-02 08:24:14.000

In [ ]:
startt = dfall2['datetime'].min()
startt = pd.to_datetime('2022-08-04')
endt = dfall2['datetime'].max()+pd.Timedelta(hours=24)
thisdate = pd.to_datetime(f'{startt.year}-{startt.month:02d}-{startt.day:02d}')
lod = []

#csvfile = os.path.join(INPUTDIR, 'dailyshifts_nobaro.csv')
'''
if os.path.isfile(csvfile):
    dfshifts = pd.read_csv(csvfile, index_col=None)
    lod = dfshifts.to_dict('records')
    endt = pd.to_datetime(dfshifts.iloc[-1]['datetime'])+pd.Timedelta(hours=24)
    thisdate = pd.to_datetime(f'{startt.year}-{startt.month:02d}-{startt.day:02d}')
'''
print(startt, endt)
while thisdate < endt:
    print(thisdate)

    #correctedAllSensorsPSI, dcshifts, sensor_depths = LLE.process_day(dfall2, thisdate, INPUTDIR, transducersDF, apcol=None)
    correctedAllSensorsPSI = LLE.process_day(dfall2, thisdate, INPUTDIR, transducersDF, apcol='well')
    #print('dcshifts=',dcshifts)
    #print('sensor_depths=',sensor_depths)
    if isinstance(correctedAllSensorsPSI, pd.DataFrame):
        correctedAllSensorsPSI.to_pickle(os.path.join(paths['daily'], f'{thisdate.strftime("%Y%m%d")}.pkl'))
    """
    if dcshifts or not sensor_depths.empty:
        dcshifts['datetime']=thisdate.strftime("%Y-%m-%d")
        for key, value in sensor_depths.items():
            dcshifts[key] = value
        lod.append(dcshifts)

        # could just do this once at end of loop - but good to see it build each day
        dfshifts = pd.DataFrame(lod)
        dfshifts.to_csv(csvfile, index=None)
        display(dfshifts)
    """
    thisdate = thisdate + pd.Timedelta(hours=24)

2022-08-04 00:00:00 2022-12-03 08:24:14
2022-08-04 00:00:00
existing day pickle files found - loading these is faster
reading raw_2022-08-04_20hz.pkl into dfdata[20hz]
reading raw_2022-08-04_baro.pkl into dfdata[baro]
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.779969,14.779473,2022-08-04 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.783734,14.774851,2022-08-04 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.781873,14.775402,2022-08-04 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.781173,14.777129,2022-08-04 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.782248,14.777708,2022-08-04 00:00:00.050,9136.987305,8480.850586,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640093,14.791890,14.789597,2022-08-04 23:59:59.960,9142.675586,8485.820508,NaN,NaN,NaN
8640094,14.794045,14.789606,2022-08-04 23:59:59.970,9142.686133,8485.816797,NaN,NaN,NaN
8640095,14.796025,14.789389,2022-08-04 23:59:59.980,9142.696680,8485.813086,NaN,NaN,NaN
8640096,14.793107,14.788370,2022-08-04 23:59:59.990,9142.707227,8485.809375,NaN,NaN,NaN
8640097,14.791152,14.789172,2022-08-05 00:00:00.000,9142.717773,8485.805664,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9140.139119025356, after: 2.950472011546075
min, max before: 9135.40625, 9144.5361328125
min, max after: 2.922564165039063, 2.98051153125
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8483.415113188237, after: 7.841751320192963
min, max before: 8479.794921875, 8487.2841796875
min, max after: 7.810651763671875, 7.87085041796875
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.779969,14.779473,2022-08-04 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.783734,14.774851,2022-08-04 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.781873,14.775402,2022-08-04 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.781173,14.777129,2022-08-04 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.782248,14.777708,2022-08-04 00:00:00.050,2.970477,7.862365,28.4,25.88,NaN,2.460207,7.499394
...,...,...,...,...,...,...,...,...,...,...
8640093,14.791890,14.789597,2022-08-04 23:59:59.960,2.934373,7.822417,28.4,25.88,NaN,2.414462,7.449804
8640094,14.794045,14.789606,2022-08-04 23:59:59.970,2.934306,7.822447,28.4,25.88,NaN,2.412239,7.447679
8640095,14.796025,14.789389,2022-08-04 23:59:59.980,2.934239,7.822476,28.4,25.88,NaN,2.410193,7.445729
8640096,14.793107,14.788370,2022-08-04 23:59:59.990,2.934172,7.822506,28.4,25.88,NaN,2.413044,7.448677
8640097,14.791152,14.789172,2022-08-05 00:00:00.000,2.934105,7.822536,28.4,25.88,NaN,2.414932,7.450661

2022-08-05 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220805000000_087.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220805000000_087.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220805000001_087.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220805040000_088.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220805040000_088.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220805040001_088.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220805080000_089.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220805080000_089.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220805080001_089.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220805120000_090.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220805120000_090.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220805120001_090.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220805160000_091.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220805160000_091.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220805160001_091.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220805200000_092.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220805200000_092.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220805200001_092.csv
- loading
saving to raw_2022-08-05_baro.pkl
saving to raw_2022-08-05_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.795229,14.789049,2022-08-05 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.794364,14.788807,2022-08-05 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.793000,14.788731,2022-08-05 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.793291,14.788145,2022-08-05 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.792426,14.788143,2022-08-05 00:00:00.050,9142.739258,8485.750000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640093,14.809800,14.802660,2022-08-05 23:59:59.960,9143.877539,8486.685742,NaN,NaN,NaN
8640094,14.810757,14.803671,2022-08-05 23:59:59.970,9143.882031,8486.690820,NaN,NaN,NaN
8640095,14.806439,14.803953,2022-08-05 23:59:59.980,9143.886523,8486.695898,NaN,NaN,NaN
8640096,14.807748,14.804167,2022-08-05 23:59:59.990,9143.891016,8486.700977,NaN,NaN,NaN
8640097,14.810439,14.804377,2022-08-06 00:00:00.000,9143.895508,8486.706055,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9142.76313791361, after: 2.93381736366229
min, max before: 9136.423828125, 9146.1787109375
min, max after: 2.9121387216796877, 2.974052962890625
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8485.814258116672, after: 7.8224669932581365
min, max before: 8480.138671875, 8488.55859375
min, max after: 7.8004080234375, 7.86808735546875
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.795229,14.789049,2022-08-05 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.794364,14.788807,2022-08-05 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.793000,14.788731,2022-08-05 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.793291,14.788145,2022-08-05 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.792426,14.788143,2022-08-05 00:00:00.050,2.933969,7.822984,28.4,25.88,NaN,2.413522,7.449835
...,...,...,...,...,...,...,...,...,...,...
8640093,14.809800,14.802660,2022-08-05 23:59:59.960,2.926744,7.815462,28.4,25.88,NaN,2.388923,7.424939
8640094,14.810757,14.803671,2022-08-05 23:59:59.970,2.926716,7.815421,28.4,25.88,NaN,2.387938,7.423942
8640095,14.806439,14.803953,2022-08-05 23:59:59.980,2.926687,7.815380,28.4,25.88,NaN,2.392227,7.428218
8640096,14.807748,14.804167,2022-08-05 23:59:59.990,2.926659,7.815340,28.4,25.88,NaN,2.390890,7.426869
8640097,14.810439,14.804377,2022-08-06 00:00:00.000,2.926630,7.815299,28.4,25.88,NaN,2.388170,7.424137

2022-08-06 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220806000000_093.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220806000000_093.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220806000001_093.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220806040000_094.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220806040000_094.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220806040001_094.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220806080000_095.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220806080000_095.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220806080001_095.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220806120000_096.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220806120000_096.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220806120001_096.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220806160000_097.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220806160000_097.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220806160001_097.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220806200000_098.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220806200000_098.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220806200001_098.csv
- loading
saving to raw_2022-08-06_baro.pkl
saving to raw_2022-08-06_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.809050,14.802002,2022-08-06 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.809571,14.805125,2022-08-06 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.809997,14.805278,2022-08-06 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.808369,14.802773,2022-08-06 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.808720,14.804042,2022-08-06 00:00:00.050,9143.897461,8486.693359,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640003,14.828264,14.825236,2022-08-06 23:59:59.960,9144.096484,8487.070508,NaN,NaN,NaN
8640004,14.829539,14.822531,2022-08-06 23:59:59.970,9144.093359,8487.058984,NaN,NaN,NaN
8640005,14.827382,14.827444,2022-08-06 23:59:59.980,9144.090234,8487.047461,NaN,NaN,NaN
8640006,14.829709,14.823489,2022-08-06 23:59:59.990,9144.087109,8487.035938,NaN,NaN,NaN
8640007,14.828307,14.823200,2022-08-07 00:00:00.000,9144.083984,8487.024414,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9142.933139908404, after: 2.9327383610014746
min, max before: 9099.9765625, 9146.8388671875
min, max after: 2.907948709960938, 3.2053837578125
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8486.116142483257, after: 7.820040446719567
min, max before: 8464.052734375, 8489.0712890625
min, max after: 7.796286978515625, 7.99738612109375
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.809050,14.802002,2022-08-06 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.809571,14.805125,2022-08-06 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.809997,14.805278,2022-08-06 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.808369,14.802773,2022-08-06 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.808720,14.804042,2022-08-06 00:00:00.050,2.926618,7.815401,28.4,25.88,NaN,2.389876,7.425958
...,...,...,...,...,...,...,...,...,...,...
8640003,14.828264,14.825236,2022-08-06 23:59:59.960,2.925355,7.812369,28.4,25.88,NaN,2.369069,7.403382
8640004,14.829539,14.822531,2022-08-06 23:59:59.970,2.925374,7.812462,28.4,25.88,NaN,2.367814,7.402200
8640005,14.827382,14.827444,2022-08-06 23:59:59.980,2.925394,7.812555,28.4,25.88,NaN,2.369991,7.404450
8640006,14.829709,14.823489,2022-08-06 23:59:59.990,2.925414,7.812647,28.4,25.88,NaN,2.367684,7.402215
8640007,14.828307,14.823200,2022-08-07 00:00:00.000,2.925434,7.812740,28.4,25.88,NaN,2.369106,7.403710

2022-08-07 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220807000000_099.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220807000000_099.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220807000001_099.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220807040000_100.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220807040000_100.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220807040001_100.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220807080000_101.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220807080000_101.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220807080001_101.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220807120000_102.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220807120000_102.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220807120001_102.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220807160000_103.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220807160000_103.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220807160001_103.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220807200000_104.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220807200000_104.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220807200001_104.csv
- loading
saving to raw_2022-08-07_baro.pkl
saving to raw_2022-08-07_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.829080,14.826337,2022-08-07 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.831945,14.822239,2022-08-07 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.828392,14.825100,2022-08-07 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.830764,14.825594,2022-08-07 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.829350,14.826237,2022-08-07 00:00:00.050,9144.083008,8487.068359,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640028,14.813094,14.809236,2022-08-07 23:59:59.960,9148.147070,8490.363477,NaN,NaN,NaN
8640029,14.814090,14.806463,2022-08-07 23:59:59.970,9148.157422,8490.363672,NaN,NaN,NaN
8640030,14.811984,14.810518,2022-08-07 23:59:59.980,9148.167773,8490.363867,NaN,NaN,NaN
8640031,14.815232,14.810215,2022-08-07 23:59:59.990,9148.178125,8490.364063,NaN,NaN,NaN
8640032,14.813178,14.807475,2022-08-08 00:00:00.000,9148.188477,8490.364258,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9146.485613394158, after: 2.910190811787358
min, max before: 9142.40625, 9151.392578125
min, max after: 2.879046306640625, 2.9360825312500003
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8489.069359506446, after: 7.796302488287227
min, max before: 8485.4248046875, 8492.943359375
min, max after: 7.76516327734375, 7.825597419921875
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.829080,14.826337,2022-08-07 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.831945,14.822239,2022-08-07 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.828392,14.825100,2022-08-07 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.830764,14.825594,2022-08-07 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.829350,14.826237,2022-08-07 00:00:00.050,2.925440,7.812387,28.4,25.88,NaN,2.368068,7.402313
...,...,...,...,...,...,...,...,...,...,...
8640028,14.813094,14.809236,2022-08-07 23:59:59.960,2.899646,7.785900,28.4,25.88,NaN,2.358530,7.392084
8640029,14.814090,14.806463,2022-08-07 23:59:59.970,2.899580,7.785899,28.4,25.88,NaN,2.357469,7.391086
8640030,14.811984,14.810518,2022-08-07 23:59:59.980,2.899514,7.785897,28.4,25.88,NaN,2.359509,7.393191
8640031,14.815232,14.810215,2022-08-07 23:59:59.990,2.899448,7.785896,28.4,25.88,NaN,2.356195,7.389941
8640032,14.813178,14.807475,2022-08-08 00:00:00.000,2.899383,7.785894,28.4,25.88,NaN,2.358183,7.391993

2022-08-08 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220808000000_105.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220808000000_105.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220808000001_105.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220808040000_106.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220808040000_106.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220808040001_106.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220808080000_107.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220808080000_107.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220808080001_107.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220808120000_108.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220808120000_108.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220808120001_108.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220808160000_109.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220808160000_109.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220808160001_109.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220808200000_110.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220808200000_110.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220808200001_110.csv
- loading
saving to raw_2022-08-08_baro.pkl
saving to raw_2022-08-08_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.810511,14.809761,2022-08-08 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.815763,14.808723,2022-08-08 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.812238,14.810264,2022-08-08 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.814507,14.806564,2022-08-08 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.815627,14.809738,2022-08-08 00:00:00.050,9148.173828,8490.411133,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640004,14.809694,14.803400,2022-08-08 23:59:59.960,9150.935547,8492.581641,NaN,NaN,NaN
8640005,14.808767,14.801686,2022-08-08 23:59:59.970,9150.927734,8492.580273,NaN,NaN,NaN
8640006,14.805159,14.804771,2022-08-08 23:59:59.980,9150.919922,8492.578906,NaN,NaN,NaN
8640007,14.808415,14.800875,2022-08-08 23:59:59.990,9150.912109,8492.577539,NaN,NaN,NaN
8640008,14.809115,14.804792,2022-08-09 00:00:00.000,9150.904297,8492.576172,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9150.81139534035, after: 2.8827350737747572
min, max before: 9122.591796875, 9155.2314453125
min, max after: 2.8546810166015626, 3.061844865234375
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8492.614752864323, after: 7.767804616476596
min, max before: 8468.103515625, 8496.197265625
min, max after: 7.73900837890625, 7.96482594140625
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.810511,14.809761,2022-08-08 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.815763,14.808723,2022-08-08 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.812238,14.810264,2022-08-08 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.814507,14.806564,2022-08-08 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.815627,14.809738,2022-08-08 00:00:00.050,2.899476,7.785517,28.4,25.88,NaN,2.355827,7.389168
...,...,...,...,...,...,...,...,...,...,...
8640004,14.809694,14.803400,2022-08-08 23:59:59.960,2.881947,7.768071,28.4,25.88,NaN,2.344232,7.377654
8640005,14.808767,14.801686,2022-08-08 23:59:59.970,2.881997,7.768082,28.4,25.88,NaN,2.345208,7.378592
8640006,14.805159,14.804771,2022-08-08 23:59:59.980,2.882046,7.768093,28.4,25.88,NaN,2.348865,7.382211
8640007,14.808415,14.800875,2022-08-08 23:59:59.990,2.882096,7.768104,28.4,25.88,NaN,2.345659,7.378966
8640008,14.809115,14.804792,2022-08-09 00:00:00.000,2.882145,7.768115,28.4,25.88,NaN,2.345009,7.378277

2022-08-09 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220809000000_111.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220809000000_111.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220809000001_111.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220809040000_112.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220809040000_112.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220809040001_112.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220809080000_113.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220809080000_113.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220809080001_113.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220809120000_114.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220809120000_114.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220809120001_114.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220809160000_115.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220809160000_115.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220809160001_115.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220809200000_116.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220809200000_116.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220809200001_116.csv
- loading
saving to raw_2022-08-09_baro.pkl
saving to raw_2022-08-09_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.809235,14.801352,2022-08-09 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.808392,14.804264,2022-08-09 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.811375,14.801316,2022-08-09 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.805043,14.803797,2022-08-09 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.808263,14.803828,2022-08-09 00:00:00.050,9150.935547,8492.570312,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640117,14.821126,14.817131,2022-08-09 23:59:59.960,9136.091992,8480.518164,NaN,NaN,NaN
8640118,14.822726,14.818886,2022-08-09 23:59:59.970,9136.099023,8480.523633,NaN,NaN,NaN
8640119,14.824020,14.815619,2022-08-09 23:59:59.980,9136.106055,8480.529102,NaN,NaN,NaN
8640120,14.822336,14.821953,2022-08-09 23:59:59.990,9136.113086,8480.534570,NaN,NaN,NaN
8640121,14.824576,14.819413,2022-08-10 00:00:00.000,9136.120117,8480.540039,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9147.621360481291, after: 2.9029822250252355
min, max before: 9130.890625, 9152.28125
min, max after: 2.87340590625, 3.009172203125
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8489.998472242425, after: 7.788834280115323
min, max before: 8474.9765625, 8493.7939453125
min, max after: 7.758326267578125, 7.909580390625
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.809235,14.801352,2022-08-09 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.808392,14.804264,2022-08-09 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.811375,14.801316,2022-08-09 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.805043,14.803797,2022-08-09 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.808263,14.803828,2022-08-09 00:00:00.050,2.881947,7.768162,28.4,25.88,NaN,2.345663,7.379176
...,...,...,...,...,...,...,...,...,...,...
8640117,14.821126,14.817131,2022-08-09 23:59:59.960,2.976159,7.865037,28.4,25.88,NaN,2.427012,7.463188
8640118,14.822726,14.818886,2022-08-09 23:59:59.970,2.976114,7.864993,28.4,25.88,NaN,2.425367,7.461544
8640119,14.824020,14.815619,2022-08-09 23:59:59.980,2.976070,7.864949,28.4,25.88,NaN,2.424028,7.460206
8640120,14.822336,14.821953,2022-08-09 23:59:59.990,2.976025,7.864905,28.4,25.88,NaN,2.425668,7.461846
8640121,14.824576,14.819413,2022-08-10 00:00:00.000,2.975981,7.864861,28.4,25.88,NaN,2.423383,7.459562

2022-08-10 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220810000000_117.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220810000000_117.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220810000001_117.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220810040000_118.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220810040000_118.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220810040001_118.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220810080000_119.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220810080000_119.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220810080001_119.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220810120000_120.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220810120000_120.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220810120001_120.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220810160000_121.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220810160000_121.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220810160001_121.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220810200000_122.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220810200000_122.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220810200001_122.csv
- loading
saving to raw_2022-08-10_baro.pkl
saving to raw_2022-08-10_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.823245,14.819147,2022-08-10 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.821303,14.819882,2022-08-10 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.826703,14.817202,2022-08-10 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.822923,14.822012,2022-08-10 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.825871,14.817622,2022-08-10 00:00:00.050,9136.116211,8480.544922,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640022,14.816911,14.809626,2022-08-10 23:59:59.960,9143.172266,8486.255859,NaN,NaN,NaN
8640023,14.813786,14.807717,2022-08-10 23:59:59.970,9143.170703,8486.255859,NaN,NaN,NaN
8640024,14.814448,14.809326,2022-08-10 23:59:59.980,9143.169141,8486.255859,NaN,NaN,NaN
8640025,14.813344,14.806507,2022-08-10 23:59:59.990,9143.167578,8486.255859,NaN,NaN,NaN
8640026,14.809883,14.810196,2022-08-11 00:00:00.000,9143.166016,8486.255859,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9136.266685182178, after: 2.9750503491486873
min, max before: 9126.7373046875, 9143.576171875
min, max after: 2.928657037109375, 3.0355333271484377
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8480.567725133566, after: 7.864638625376368
min, max before: 8472.970703125, 8486.60546875
min, max after: 7.8161072421875, 7.92570348828125
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.823245,14.819147,2022-08-10 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.821303,14.819882,2022-08-10 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.826703,14.817202,2022-08-10 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.822923,14.822012,2022-08-10 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.825871,14.817622,2022-08-10 00:00:00.050,2.976005,7.864822,28.4,25.88,NaN,2.422113,7.458228
...,...,...,...,...,...,...,...,...,...,...
8640022,14.816911,14.809626,2022-08-10 23:59:59.960,2.931221,7.818917,28.4,25.88,NaN,2.386289,7.421284
8640023,14.813786,14.807717,2022-08-10 23:59:59.970,2.931231,7.818917,28.4,25.88,NaN,2.389423,7.424408
8640024,14.814448,14.809326,2022-08-10 23:59:59.980,2.931240,7.818917,28.4,25.88,NaN,2.388771,7.423746
8640025,14.813344,14.806507,2022-08-10 23:59:59.990,2.931250,7.818917,28.4,25.88,NaN,2.389885,7.424851
8640026,14.809883,14.810196,2022-08-11 00:00:00.000,2.931260,7.818917,28.4,25.88,NaN,2.393356,7.428312

2022-08-11 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220811000000_123.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220811000000_123.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220811000001_123.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220811040000_124.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220811040000_124.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220811040001_124.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220811080000_125.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220811080000_125.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220811080001_125.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220811120000_126.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220811120000_126.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220811120001_126.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220811160000_127.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220811160000_127.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220811160001_127.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220811200000_128.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220811200000_128.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220811200001_128.csv
- loading
saving to raw_2022-08-11_baro.pkl
saving to raw_2022-08-11_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.815623,14.811721,2022-08-11 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.815719,14.808005,2022-08-11 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.814284,14.810746,2022-08-11 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.811976,14.810938,2022-08-11 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.812935,14.809199,2022-08-11 00:00:00.050,9143.173828,8486.208984,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640005,14.787101,14.783634,2022-08-11 23:59:59.960,9157.183398,8497.986914,NaN,NaN,NaN
8640006,14.787295,14.780312,2022-08-11 23:59:59.970,9157.168555,8497.984570,NaN,NaN,NaN
8640007,14.787177,14.783402,2022-08-11 23:59:59.980,9157.153711,8497.982227,NaN,NaN,NaN
8640008,14.787947,14.781765,2022-08-11 23:59:59.990,9157.138867,8497.979883,NaN,NaN,NaN
8640009,14.786908,14.782337,2022-08-12 00:00:00.000,9157.124023,8497.977539,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9150.155916358242, after: 2.886895398874242
min, max before: 9142.755859375, 9157.310546875
min, max after: 2.841484958984375, 2.9338635605468752
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8492.0912469836, after: 7.7720125567458584
min, max before: 8485.8720703125, 8498.06640625
min, max after: 7.7239842265625, 7.822002298828125
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.815623,14.811721,2022-08-11 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.815719,14.808005,2022-08-11 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.814284,14.810746,2022-08-11 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.811976,14.810938,2022-08-11 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.812935,14.809199,2022-08-11 00:00:00.050,2.931211,7.819294,28.4,25.88,NaN,2.390255,7.425637
...,...,...,...,...,...,...,...,...,...,...
8640005,14.787101,14.783634,2022-08-11 23:59:59.960,2.842292,7.724623,28.4,25.88,NaN,2.327170,7.356800
8640006,14.787295,14.780312,2022-08-11 23:59:59.970,2.842386,7.724642,28.4,25.88,NaN,2.327070,7.356624
8640007,14.787177,14.783402,2022-08-11 23:59:59.980,2.842480,7.724661,28.4,25.88,NaN,2.327282,7.356761
8640008,14.787947,14.781765,2022-08-11 23:59:59.990,2.842575,7.724680,28.4,25.88,NaN,2.326607,7.356010
8640009,14.786908,14.782337,2022-08-12 00:00:00.000,2.842669,7.724699,28.4,25.88,NaN,2.327739,7.357068

2022-08-12 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220812000000_129.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220812000000_129.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220812000001_129.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220812040000_130.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220812040000_130.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220812040001_130.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220812080000_131.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220812080000_131.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220812080001_131.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220812120000_132.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220812120000_132.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220812120001_132.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220812160000_133.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220812160000_133.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220812160001_133.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220812200000_134.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220812200000_134.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220812200001_134.csv
- loading
saving to raw_2022-08-12_baro.pkl
saving to raw_2022-08-12_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.784613,14.779847,2022-08-12 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.789666,14.782984,2022-08-12 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.789180,14.782783,2022-08-12 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.789543,14.783029,2022-08-12 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.791004,14.781487,2022-08-12 00:00:00.050,9157.187500,8497.981445,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8639995,14.761679,14.756398,2022-08-12 23:59:59.960,9159.325391,8499.391797,NaN,NaN,NaN
8639996,14.761453,14.754042,2022-08-12 23:59:59.970,9159.328516,8499.392969,NaN,NaN,NaN
8639997,14.761609,14.756682,2022-08-12 23:59:59.980,9159.331641,8499.394141,NaN,NaN,NaN
8639998,14.760247,14.755835,2022-08-12 23:59:59.990,9159.334766,8499.395313,NaN,NaN,NaN
8639999,14.761799,14.756285,2022-08-13 00:00:00.000,9159.337891,8499.396484,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9158.632522508953, after: 2.8330943796356762
min, max before: 9152.1435546875, 9162.8994140625
min, max after: 2.8060124189453126, 2.8742798583984377
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8498.980729537967, after: 7.716634895973789
min, max before: 8493.1357421875, 8502.619140625
min, max after: 7.68738934765625, 7.763616904296875
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.784613,14.779847,2022-08-12 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.789666,14.782984,2022-08-12 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.789180,14.782783,2022-08-12 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.789543,14.783029,2022-08-12 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.791004,14.781487,2022-08-12 00:00:00.050,2.842266,7.724667,28.4,25.88,NaN,2.323240,7.352940
...,...,...,...,...,...,...,...,...,...,...
8639995,14.761679,14.756398,2022-08-12 23:59:59.960,2.828697,7.713331,28.4,25.88,NaN,2.338997,7.370929
8639996,14.761453,14.754042,2022-08-12 23:59:59.970,2.828677,7.713321,28.4,25.88,NaN,2.339202,7.371145
8639997,14.761609,14.756682,2022-08-12 23:59:59.980,2.828657,7.713312,28.4,25.88,NaN,2.339027,7.370980
8639998,14.760247,14.755835,2022-08-12 23:59:59.990,2.828637,7.713302,28.4,25.88,NaN,2.340369,7.372333
8639999,14.761799,14.756285,2022-08-13 00:00:00.000,2.828617,7.713293,28.4,25.88,NaN,2.338797,7.370772

2022-08-13 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220813000000_135.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220813000000_135.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220813000001_135.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220813040000_136.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220813040000_136.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220813040001_136.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220813080000_137.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220813080000_137.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220813080001_137.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220813120000_138.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220813120000_138.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220813120001_138.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220813160000_139.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220813160000_139.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220813160001_139.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220813200000_140.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220813200000_140.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220813200001_140.csv
- loading
saving to raw_2022-08-13_baro.pkl
saving to raw_2022-08-13_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.760986,14.758320,2022-08-13 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.760079,14.754031,2022-08-13 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.764886,14.756524,2022-08-13 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.761065,14.754265,2022-08-13 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.764437,14.757275,2022-08-13 00:00:00.050,9159.327148,8499.459961,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640021,14.753255,14.748958,2022-08-13 23:59:59.960,9145.896680,8489.480273,NaN,NaN,NaN
8640022,14.753516,14.747264,2022-08-13 23:59:59.970,9145.899805,8489.489844,NaN,NaN,NaN
8640023,14.753692,14.748640,2022-08-13 23:59:59.980,9145.902930,8489.499414,NaN,NaN,NaN
8640024,14.754095,14.747517,2022-08-13 23:59:59.990,9145.906055,8489.508984,NaN,NaN,NaN
8640025,14.750604,14.749611,2022-08-14 00:00:00.000,9145.909180,8489.518555,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9155.066913945966, after: 2.8557252971849656
min, max before: 9145.8583984375, 9159.7421875
min, max after: 2.8260513359375, 2.9141717451171876
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8496.01893552178, after: 7.740441796275891
min, max before: 8489.4248046875, 8500.173828125
min, max after: 7.70704476953125, 7.793445419921875
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.760986,14.758320,2022-08-13 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.760079,14.754031,2022-08-13 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.764886,14.756524,2022-08-13 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.761065,14.754265,2022-08-13 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.764437,14.757275,2022-08-13 00:00:00.050,2.828686,7.712783,28.4,25.88,NaN,2.336228,7.367624
...,...,...,...,...,...,...,...,...,...,...
8640021,14.753255,14.748958,2022-08-13 23:59:59.960,2.913929,7.793000,28.4,25.88,NaN,2.432653,7.459022
8640022,14.753516,14.747264,2022-08-13 23:59:59.970,2.913909,7.792923,28.4,25.88,NaN,2.432371,7.458684
8640023,14.753692,14.748640,2022-08-13 23:59:59.980,2.913889,7.792846,28.4,25.88,NaN,2.432176,7.458431
8640024,14.754095,14.747517,2022-08-13 23:59:59.990,2.913869,7.792769,28.4,25.88,NaN,2.431753,7.457951
8640025,14.750604,14.749611,2022-08-14 00:00:00.000,2.913849,7.792692,28.4,25.88,NaN,2.435224,7.461366

2022-08-14 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220814000000_141.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220814000000_141.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220814000001_141.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220814040000_142.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220814040000_142.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220814040001_142.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220814080000_143.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220814080000_143.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220814080001_143.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220814120000_144.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220814120000_144.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220814120001_144.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220814160000_145.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220814160000_145.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220814160001_145.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220814200000_146.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220814200000_146.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220814200001_146.csv
- loading
saving to raw_2022-08-14_baro.pkl
saving to raw_2022-08-14_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.755014,14.749097,2022-08-14 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.751069,14.752432,2022-08-14 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.753081,14.747483,2022-08-14 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.754212,14.750759,2022-08-14 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.754852,14.748724,2022-08-14 00:00:00.050,9145.932617,8489.552734,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640021,14.731104,14.724161,2022-08-14 23:59:59.960,9144.484766,8488.585352,NaN,NaN,NaN
8640022,14.729047,14.725145,2022-08-14 23:59:59.970,9144.489063,8488.590625,NaN,NaN,NaN
8640023,14.727269,14.722561,2022-08-14 23:59:59.980,9144.493359,8488.595898,NaN,NaN,NaN
8640024,14.730922,14.725339,2022-08-14 23:59:59.990,9144.497656,8488.601172,NaN,NaN,NaN
8640025,14.729653,14.721371,2022-08-15 00:00:00.000,9144.501953,8488.606445,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9145.655403369512, after: 2.9154601548137147
min, max before: 9142.1728515625, 9149.923828125
min, max after: 2.888368462890625, 2.9375639111328127
Applying temperature correction for 1226423
Applying air pressure correction for 1226423
Applying calibration correction for 2151692
mean before: 8489.480507439905, after: 7.792997681198036
min, max before: 8486.53515625, 8492.2216796875
min, max after: 7.770964138671875, 7.8166724140625
Applying temperature correction for 2151692
Applying air pressure correction for 2151692
- all corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std,1226423_corrected,2151692_corrected
0,14.755014,14.749097,2022-08-14 00:00:00.010,NaN,NaN,28.4,25.88,NaN,NaN,NaN
1,14.751069,14.752432,2022-08-14 00:00:00.020,NaN,NaN,28.4,25.88,NaN,NaN,NaN
2,14.753081,14.747483,2022-08-14 00:00:00.030,NaN,NaN,28.4,25.88,NaN,NaN,NaN
3,14.754212,14.750759,2022-08-14 00:00:00.040,NaN,NaN,28.4,25.88,NaN,NaN,NaN
4,14.754852,14.748724,2022-08-14 00:00:00.050,2.913701,7.792417,28.4,25.88,NaN,2.430827,7.456842
...,...,...,...,...,...,...,...,...,...,...
8640021,14.731104,14.724161,2022-08-14 23:59:59.960,2.922890,7.800193,28.4,25.88,NaN,2.463765,7.488366
8640022,14.729047,14.725145,2022-08-14 23:59:59.970,2.922863,7.800151,28.4,25.88,NaN,2.465795,7.490381
8640023,14.727269,14.722561,2022-08-14 23:59:59.980,2.922836,7.800108,28.4,25.88,NaN,2.467545,7.492116
8640024,14.730922,14.725339,2022-08-14 23:59:59.990,2.922808,7.800066,28.4,25.88,NaN,2.463865,7.488421
8640025,14.729653,14.721371,2022-08-15 00:00:00.000,2.922781,7.800023,28.4,25.88,NaN,2.465106,7.489647

2022-08-15 00:00:00
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220815000000_147.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220815000000_147.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220815000001_147.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220815040000_148.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220815040000_148.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220815040001_148.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220815080000_149.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220815080000_149.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220815080001_149.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220815120000_150.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220815120000_150.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220815120001_150.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220815160000_151.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220815160000_151.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220815160001_151.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/Baro/100hz_Baro_Sensors_20220815200000_152.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_20Hz_20220815200000_152.csv
- loading
/data/KSC/EROSION/fromdropboxinventory/03_merge_inventories/20220826/20hz/20hz_Sensors_1Sec_20220815200001_152.csv
- loading
saving to raw_2022-08-15_baro.pkl
saving to raw_2022-08-15_20hz.pkl
no 100hz
Columns in dfmerged:
 Index(['AirPressureShallow', 'AirPressureIntermediate', 'datetime', '1226423',
       '2151692', '1226423_temp', '2151692_temp', '2151692_std'],
      dtype='object')
Applying height correction for AirPressureShallow
Applying height correction for AirPressureIntermediate
- height corrected

,AirPressureShallow,AirPressureIntermediate,datetime,1226423,2151692,1226423_temp,2151692_temp,2151692_std
0,14.731088,14.725274,2022-08-15 00:00:00.010,NaN,NaN,NaN,NaN,NaN
1,14.726079,14.727475,2022-08-15 00:00:00.020,NaN,NaN,NaN,NaN,NaN
2,14.729867,14.722531,2022-08-15 00:00:00.030,NaN,NaN,NaN,NaN,NaN
3,14.726184,14.722349,2022-08-15 00:00:00.040,NaN,NaN,NaN,NaN,NaN
4,14.728686,14.726885,2022-08-15 00:00:00.050,9144.415039,8488.620117,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8640093,14.708432,14.702648,2022-08-15 23:59:59.960,9144.214062,8488.092383,NaN,NaN,NaN
8640094,14.707930,14.699858,2022-08-15 23:59:59.970,9144.224023,8488.086133,NaN,NaN,NaN
8640095,14.707587,14.703636,2022-08-15 23:59:59.980,9144.233984,8488.079883,NaN,NaN,NaN
8640096,14.708205,14.703781,2022-08-15 23:59:59.990,9144.243945,8488.073633,NaN,NaN,NaN
8640097,14.708262,14.702613,2022-08-16 00:00:00.000,9144.253906,8488.067383,NaN,NaN,NaN

Applying calibration correction for 1226423
mean before: 9145.487517274532, after: 2.9165257278585974
min, max before: 9113.1484375, 9149.513671875
min, max after: 2.890971724609375, 3.1217818671875
Applying temperature correction for 1226423
Applying air pressure correction for 1226423